
<div class="mx-auto" >

    
    <center><h1>Все о авто, портал номер 1 в мире</h1></center>

    <div class=" row mt-5 mb-2">


        <center>
            <img class=" img-thumbnail" src="/img/d2ru.png" alt="жалкая пародия" />

            <h2>В сравнеии с нашим сайтом Drive2 </h2>
            <h3>Покажется жалкой пародией</h3>
            <p>Приятного пользования</p>
        </center>


    </div>
   
</div>