@using MVC_Diplom_project.Data.Models
@using MVC_Diplom_project.Controllers
@model IEnumerable<Logbook>

<body>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @if (Model != null)
                {


                    @foreach (var logbook in Model)
                    {
                        <div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c" src="/img/logo.png"><img src="/img/logo.png" /></rect></svg>
                                    <div class="card-body">
                                       <form asp-controller="Cars" asp-action="AddLogbook" asp-route-carId="@ViewBag.CarId "></form>
                                        <p class="card-text">О чём @logbook.NameLog</p>

                                        <div>как это было @logbook.Text  </div>
                                        


                                       
                                        </div>
                                    </div>
                                </div>
                            </div>

                       


                    }
                }
                else
                {
                    <div>Упс, ничего нет, станьте первым</div>
                }
            </div>
        </div>



</body>